*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 400;
}

body { 
    margin: 0;
    padding: 0;
    background: #F2F0F2;
}

.container {
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10%;
}

#display {
    flex: 1 100%; 
    background-color: #D9D9D9;
    height: 100px;
    font-size: 40px;
    justify-content: flex-end;
}

button {
    flex: 1 25%;
}

.clear, .equals {
    flex: 1 50%; 
}